@font-face {
  font-family: 'DINPro-Bold.woff';
  src: url('../../fonts/DINPro-Bold.eot');
  src: url('../../fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/DINPro-Bold.woff') format('woff'),
  url('../../fonts/DINPro-Bold.woff2') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {

  font-family: 'DINPro-Regular.woff';
  src: url('../../fonts/DINPro-Regular.eot');
  src: url('../../fonts/DINPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/DINPro-Regular.woff') format('woff'),
  url('../../fonts/DINPro-Regular.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {

  font-family: 'GothamPro-Black.woff';
  src: url('../../fonts/GothamPro-Black.eot');
  src: url('../../fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/GothamPro-Black.woff') format('woff'),
  url('../../fonts/GothamPro-Black.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
}