//fonts
//font: [font-style||font-variant||font-weight] font-size [/line-height] font-family | inherit

$fontFamily: 'GothamPro', sans-serif;
$fontFamilyD:'DINPro',sans-serif;
//colors from hovermap


//colors for project
$gray:#f6f6f6;
$white:#fff;
$black:#191919;
$lightBlack:#232323;
$lightGray:#c4c4c4;
//other variables