{{!INDEX_PAGE}}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Vintage</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="static/css/index.css">



  </head>
  <body>
  <div class="header">
  <div class="container">
      <div class="box">
            <div class="box-logo">

<div class="box-logo__left" >

<img class="left-img" src="http://listopadov.biz.ua/i/logo1.png" alt="logo1">

    <input class="ru-left" type="button" value="ru">
    <input class="en-left" type="button" value="en">
 </div>

                <div class="box-logo__right" >
                    <div class="bb">

                    </div>
                   <h2 class="logo-title">menu </h2>
                </div>

            </div><!--box-header-->
          <div class="box-title">
              <h2 class="box-title__title">Придаем выразительность архитектурным объектам.</h2>
              <p class="box-title__content"> Создаем </p>
              <p class="box-title__content"> новое качество </p>
              <p class="box-title__content">среды</p>
          </div><!--box-title-->
      </div><!--box-->
  </div><!--container-->
  </div><!--header-->
  <div class="archimatic">
      <div class="container">
          <div class="archimatic-box">
              <div class="archimatic-menu">
              <div class="archimatic-left">

<img class="logo2" src="http://listopadov.biz.ua/i/logo2.png" alt="logo2">
              </div>
                  <img class="as" src="http://listopadov.biz.ua/i/line.png" alt="">
                  <div class="archimatic-right">

                      <div class="round">

                      </div>
                      <h2 class="archimatic-title">menu </h2>
                  </div>

              </div><!--menu-->

                  <div class="archimatic-box-left">
                      <div class="a">
          <img class="archimatic-box__img" src="http://listopadov.biz.ua/i/l6.png">
                      <p class="archimatic-box__build">построили</p>
                      <p class="archimatic-box__number">1,5</p>
                      <p class="archimatic-box__size">млн м<sup>2</sup> </p>
                      </div>
                      <div class="b">
          <img class="archimatic-box__img1" src="http://listopadov.biz.ua/i/l2.png">

                          <p  class=" archimatic-box__build1">строим</p>
                          <p class=" archimatic-box__line">///////////////////////////////////////</p>

                          <p class="archimatic-box__number1">5</p>
                          <p class="archimatic-box__size1">млн м<sup>2</sup> </p>
                      </div>
                        <div class="c">
          <img class="archimatic-box__img2" src="http://listopadov.biz.ua/i/l1.png">
                            <p class=" archimatic-box__build2">проектируем</p>
                            <p class="archimatic-box__number2">3</p>
                            <ul class="mydots">
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <p class="archimatic-box__size2">млн м<sup>2</sup> </p>
                        </div>
                      <p class="archimatic-box__see">Новый взгляд на вещи </p>
          </div>
              <div class="archimatic-box__content">
                  <div>
                      <h2 class="archimatic-box__content__title">Архитектура</h2>
                      <p class="archimatic-box__content__content">Больше, чем просто здания.
                          Это среда, которая может и
                          должно менять жизнь людей
                          в лучшую сторону.</p>
                  </div>
                  <div>
                      <h2 class="archimatic-box__content__title">Архитектор</h2>
                      <p class="archimatic-box__content__content">Не просто возводит здание.
                          Он проектирует образ жизни людей, которые будут жить в нем или
                          взаимодействовать с ним за счет качественной среды.</p>
                  </div>
                  <div>
                      <h2 class="archimatic-box__content__title1">Хороший<br/> архитектор</h2>
                      <p class="archimatic-box__content__content">Чувствует, понимает и любит город. Он хорошо знает психологию
                          горожан, поэтому проектирует здания с учетом их интересов.
                          Он создает выразительные
                          объекты, знакомясь с которыми хочется стать их частью, хочется жить или работать в них.</p>
                  </div>
                  <div>
                      <h2 class="archimatic-box__content__title1">Качественная<br/> среда </h2>
                      <p class="archimatic-box__content__content">Это не только продуманные
                          планировки и большие площади.
                          Это то, что формирует образ жизни и мышления жильцов и меняет их жизнь к лучшему.</p>
                  </div>

              </div><!--archimatic-box__content-->
              <div class="archimatic-box__footer">
                  <div class="archimatic-box__footer__img">
                      <img class="" src="http://listopadov.biz.ua/i/A.png" alt="A">
                      
                  </div>
                  <div class="archimatic-box__footer__content">
                  <img class="archimatic-box__footer__content__img" src="http://listopadov.biz.ua/i/logo3.png" alt="logo3">
                      <p class="archimatic-box__footer__content__title">Создатели выразительных объектов и качественной среды во всех аспектах — функ-<br/>циональном, коммерческом и архитектурном</p>
                      <p class="archimatic-box__footer__content__content">В этом нам помогают<br/>
                          наши принципы:</p>
                  </div>
              </div><!--archimatic-box__footer-->
          </div><!--archimatic-box-->
      </div><!--container-->
  </div><!--archimatic-->
  <div class="products ">
      <div class="container">
          <div class="happy">
              <img class="happy-img" src="http://listopadov.biz.ua/i/Happy.png" alt="happy">
          </div><!--happy-->
          <div class="products-building">
              <h2 class="products-building__title">Делать обитателей <br/>счастливыми</h2>
              <p class="products-building__content">Здания возводятся для людей, поэтому мы никогда не ставим комфорт в угоду эстетики и оригинальности. Так создается уникальная среда комфортной жизни.</p>
          </div>
          <div class="layer"><img class="layer-img" src="http://listopadov.biz.ua/i/layer.png" alt="layer"></div>
          <div class="products-project">
              <h2 class="products-project__title">Делать коммерчески<br/> прибыльные проекты</h2>
              <p class="products-project__content">Мы соединяем архитектурную выразительность, коммерческую логику и рентабельность. Сегодня это незаменимые компоненты прибыльного проекта.</p>
          </div>
          <div class="products-city">
              <h2 class="products-city__title">Делать города  красивыми</h2>
              <p class="products-city__content">Никогда не портим неповторимый облик города, остаемся верны принципу «не навреди». Сохраняем выразительность объекта, не жертвуя окружающим пространством.</p>
          </div>
          <div class="win">
              <p class="win-title">От такого подхода <br/> выигрывают все:</p>
          </div>
          <div class="products-footer ">
              <div>
              <img src="http://listopadov.biz.ua/i/1.png" alt="1">
                  <h2 class="products-footer__title">Люди</h2>
                  <p class="products-footer__content">покупают квартиры с
                      продуманными планировками. Подъезды в которые приятно
                      входить. Придомовую территорию, по которой хочеться гулять.</p>
              </div>
              <div>
                  <img src="http://listopadov.biz.ua/i/2.png" alt="2">
                  <h2 class="products-footer__title">Заказчики</h2>
                  <p class="products-footer__content">спокойны, потому что знают —
                      объекты Архиматики выгодно
                      выделяются на фоне других
                      застройщиков, а качество и
                      продуманность на порядок выше.</p>
              </div>
              <div>
                  <img src="http://listopadov.biz.ua/i/3.png" alt="3">
                  <h2 class="products-footer__title">Застройщики</h2>
                  <p class="products-footer__content">получают реальную к исполнению документацию, проработанную до последнего гвоздя.
                      Получают вовремя!</p>
              </div>
          </div><!--products-footer-->

          <div class="products-input ">
              <input onclick="toggle(hidden_content)" class="products-input__input " type="button" value="Смотреть все принципы">
          </div>
          <div id="hidden_content" style="display: none;"> <div class="products-footer ">
              <div>
                  <img src="http://listopadov.biz.ua/i/1.png" alt="1">
                  <h2 class="products-footer__title">Люди</h2>
                  <p class="products-footer__content">покупают квартиры с
                      продуманными планировками. Подъезды в которые приятно
                      входить. Придомовую территорию, по которой хочеться гулять.</p>
              </div>
              <div>
                  <img src="http://listopadov.biz.ua/i/2.png" alt="2">
                  <h2 class="products-footer__title">Заказчики</h2>
                  <p class="products-footer__content">спокойны, потому что знают —
                      объекты Архиматики выгодно
                      выделяются на фоне других
                      застройщиков, а качество и
                      продуманность на порядок выше.</p>
              </div>
              <div>
                  <img src="http://listopadov.biz.ua/i/3.png" alt="3">
                  <h2 class="products-footer__title">Застройщики</h2>
                  <p class="products-footer__content">получают реальную к исполнению документацию, проработанную до последнего гвоздя.
                      Получают вовремя!</p>
              </div>
          </div><!--products-footer--></div>
      </div><!--container-->
  </div><!--products-->

  <div class="start">
      <div class="container">
          <div class="start-box">
          <h2 class="start-box__title">С чего начать?</h2>
          <p class="start-box__content">Создадим ваш проект с нуля или оценим существующий, укажем на слабые места
              и сильные стороны, расскажем, как повысить его финансовую привлекательность.
              Расскажем о подводных камнях и поможем избежать их.</p>
              <div>
                  <div class="center-input">
          <input class="start-box__input" type="button" value="Оценить проект">
                  <div class="left-img__item left-img__item_left-top"></div>
                  <div class="left-img__item left-img__item_left-bottom"></div>
                  <div class="left-img__item left-img__item_right-top"></div>
                  <div class="left-img__item left-img__item_right-bottom"></div>
                  </div>
              </div>
          </div><!--start-box-->
      </div><!--container-->
  </div><!--start-->
  <div class="footer">
      <div class="container">
          <div class="box-footer">
              <div class="box-footer__number">
                  <img class="box-footer__number__img" src="http://listopadov.biz.ua/i/foot.png" alt="foot">
                  <div class="box-footer__number__right">
                  <p class="box-footer__number__number"> Телефон</p>
                  <a class="box-footer__number__tel" href="tel:+380 44 228 77 28 ">380 44 228 77 28 </a><br/>
                  </div>
                  <a class="box-footer__number__link face" href="https://www.facebook.com/">facebook</a>
                  <a class="box-footer__number__link" href="https://www.livejournal.com/">liveJournal</a>

              </div>
              <div class="box-footer__about">
                  <a class="box-footer__about__link" href="">НАШ ПОДХОД</a>
                  <a class="box-footer__about__link" href="">ПРОЦЕСС РАБОТЫ</a>
                  <a class="box-footer__about__link" href="">ПРОЕКТЫ</a>
                  <a class="box-footer__about__link" href="">О КОМПАНИИ</a>
              </div>
              <div class="box-footer__expert">
                  <a class="box-footer__expert__link" href="">ИНЖЕНЕРНЫЕ РАБОТЫ</a>
                  <a class="box-footer__expert__link" href="">НАША ЭКСПЕРТИЗА</a>
                  <a class="box-footer__expert__link" href="">ЖУРНАЛ</a>
                  <a class="box-footer__expert__link" href="">КОНТАКТЫ</a>
              </div>
              <div class="box-footer__mail">
                  <div class="box-footer__mail__margin">
                  <p class="box-footer__mail__title">Для сотрудничесива</p>
                  <a class="box-footer__mail__link" href="mailto:offers@archimatika.com">offers@archimatika.com</a>
                  </div>
                  <p class="box-footer__mail__title">Для СМИ</p>
                  <a class="box-footer__mail__link" href="mailto:vasilenko.yu@archimatika.com">vasilenko.yu@archimatika.com</a>
              </div>

          </div><!--box-footer-->
          <div class="box-footer__logo">
              <div>
                  <p>©2018 Archimatica</p>
              </div>
              <div>
                  <p>by <img src="http://listopadov.biz.ua/i/V.png"></p>

              </div>
          </div>

      </div><!--container-->
  </div><!--footer-->
  <a href="#" class="scrollup">Наверх</a>


  </body>

  <script type="text/javascript" src="//web-ptica.ru/VRV-files/jquery-2.1.3.min.js "></script>

      <script>
    $(document).ready(function(){

        $(window).scroll(function(){
            if ($(this).scrollTop() > 500) {
                $('.scrollup').fadeIn();
            } else {
                $('.scrollup').fadeOut();
            }
        });

        $('.scrollup').click(function(){
            $("html, body").animate({ scrollTop: 0 }, 600);
            return false;
        });

    });
    function toggle(el) {

        el.style.display = (el.style.display == 'none') ? '' : 'none'

    }

</script>


</html>